@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
  margin: 0;
  padding: 0;
}

.styled-scrollbar::-webkit-scrollbar {
  @apply w-[4px] h-[4px];
}

.styled-scrollbar::-webkit-scrollbar-track {
  @apply rounded-[10px] my-[2px];

  background: rgba(241, 241, 241, 0.468);
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-[#bfbfbf] rounded-[10px];
}

.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-[#6d6d6d];
}